# Secrets configuration
tenant:
  useEnvironmentVariable: false
  name: "default-tenant"

secrets:
  - name: keycloak-credentials
    type: Opaque
    data:
      # Keycloak database credentials
      KC_DB_USERNAME: "keycloak"
      KC_DB_PASSWORD: "change-me-in-production"
# Chart overrides
nameOverride: ""
fullnameOverride: ""