tenant: "default-tenant"
# Secrets configuration
secrets:
  - name: keycloak-credentials
    type: Opaque
    data:
      # Keycloak database credentials
      KC_DB_USERNAME: "keycloak"
      KC_DB_PASSWORD: "changeme"
      JWK_SET_URI: "https://keycloak.example.com/realms/myrealm/protocol/openid-connect/certs"
      KEYCLOAK_ISSUER: "https://keycloak.example.com/realms/myrealm"
      KEYCLOAK_ID: "sl-webapp"
      KEYCLOAK_SECRET: "changeme"
  - name: db-connection-secret
    type: Opaque
    data:
      # Database connection URL for Linkservice
      LINKSERVICE_DATABASE_URL: 'jdbc:postgresql://postgres-service:5432/slinkylinky'
      LINKSERVICE_DB_PASSWORD: "changeme"
      LINKSERVICE_DB_USERNAME: linkservice_user
      STATS_DATABASE_URL: 'jdbc:postgresql://postgres-service:5432/stats'
      STATS_DB_PASSWORD: "changeme"
      STATS_DB_USERNAME: "stats_user"
  - name: stats-secret
    type: Opaque
    data:
      MOZ_SECRET: "changeme"
      SEMRUSH_KEY: "changeme"
# ConfigMaps configuration
configMaps:
  - name: rabbitmq-config
    data:
      RABBITMQ_HOST: "rabbit-service"
  - name: admin-website-config
    data:
      NEXTAUTH_URL: "https://change-me"
      NEXTAUTH_URL_INTERNAL: "http://adminwebsite-service:3000"
# Chart overrides
nameOverride: ""
fullnameOverride: ""
# ConfigMaps configuration
deployments:
  - name: linkservice
    image: "rdomloge/slinky-linky-linkservice:6.0.6-CI-34"
    cpuLimit: "500m"
    memoryLimit: "512Mi"
    startupFailureThreshold: 15
    startupPeriod: 5
    explicitEnv:
      chatgpt_model: "gpt-3.5-turbo"
      chatgpt_api_key: "<SPECIFY>"
      slinkylinky_vhost: "slinkylinky"
    secretEnv:
      spring_datasource_url: 
        secretName: db-connection-secret
        secretKey: LINKSERVICE_DATABASE_URL
      spring_datasource_password:
        secretName: db-connection-secret
        secretKey: LINKSERVICE_DB_PASSWORD
      spring_datasource_username:
        secretName: db-connection-secret
        secretKey: LINKSERVICE_DB_USERNAME
      JWK_SET_URI:
        secretName: keycloak-credentials
        secretKey: JWK_SET_URI
      ISSUER_URI: # named differently to match app config - is this the same value as KEYCLOAK_ISSUER in adminwebsite?
        secretName: keycloak-credentials
        secretKey: KEYCLOAK_ISSUER
    configMapEnv:
      slinkylinky_rabbitmq_host:
        configMapName: rabbitmq-config
        configMapKey: RABBITMQ_HOST
    ports:
      - 5672
      - 15672

  - name: adminwebsite
    image: "rdomloge/slinky-linky-adminwebsite:6.0.11-CI-27"
    ports:
      - 3000
    cpuLimit: "250m"
    secretEnv:
      NEXTAUTH_SECRET:
        secretName: keycloak-credentials
        secretKey: KEYCLOAK_SECRET
      KEYCLOAK_ID:
        secretName: keycloak-credentials
        secretKey: KEYCLOAK_ID
      KEYCLOAK_SECRET:
        secretName: keycloak-credentials
        secretKey: KEYCLOAK_SECRET
      KEYCLOAK_ISSUER:
        secretName: keycloak-credentials
        secretKey: KEYCLOAK_ISSUER
    configMapEnv:
      NEXTAUTH_URL:
        configMapName: admin-website-config
        configMapKey: NEXTAUTH_URL
      NEXTAUTH_URL_INTERNAL:
        configMapName: admin-website-config
        configMapKey: NEXTAUTH_URL_INTERNAL
    startupPort: 3000
    livenessPort: 3000
    livenessPath: /demand
    readinessPort: 3000
    readinessPath: /demand

  - name: stats
    image: "rdomloge/slinky-linky-stats:6.0.2-CI-9"
    cpuLimit: "250m"
    memoryLimit: "512Mi"
    ports:
      - 8080
    secretEnv:
      spring_datasource_url:
        secretName: db-connection-secret
        secretKey: STATS_DATABASE_URL
      spring_datasource_password:
        secretName: db-connection-secret
        secretKey: STATS_DB_PASSWORD
      spring_datasource_username:
        secretName: db-connection-secret
        secretKey: STATS_DB_USERNAME
      moz_secret:
        secretName: stats-secret
        secretKey: MOZ_SECRET
      semrush_key:
        secretName: stats-secret
        secretKey: SEMRUSH_KEY
      JWK_SET_URI:
        secretName: keycloak-credentials
        secretKey: JWK_SET_URI
      ISSUER_URI:
        secretName: keycloak-credentials
        secretKey: KEYCLOAK_ISSUER

services:
  - name: postgres-service
    port: 5432
    selectorAppName: postgres
  - name: linkservice-service
    port: 8090
    targetPort: 8080
    selectorAppName: linkservice
  - name: supplierengagement-service
    port: 8091
    targetPort: 8080
    selectorAppName: supplierengagement
  - name: audit-service
    port: 8092
    targetPort: 8080
    selectorAppName: audit
  - name: stats-service
    port: 8093
    targetPort: 8080
    selectorAppName: stats
  - name: woo-service
    port: 8094
    targetPort: 8080
    selectorAppName: woo
  - name: adminwebsite-service
    port: 3000
    targetPort: 8080
    selectorAppName: adminwebsite
  - name: rabbit-service
    port: 5672
    targetPort: 5672
    selectorAppName: rabbit
  - name: rabbit-mgmt-service
    port: 15672
    targetPort: 15672
    selectorAppName: rabbit
  - name: keycloak-service
    port: 8080
    selectorAppName: keycloak