apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sl-postgres-data-{{ .Values.tenant }}
  namespace: {{ .Values.tenant }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: linode-block-storage-retain
