.session {
    
    padding: 1rem;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 30px grey;
    border-radius: 5px;
    max-width: 500px;
    margin: 1rem;

    .sidebyside {
        display: inline-block;
    }
    .icon {
        padding: 4px;
        vertical-align: middle;
        color: coral;
    }
    .title {
        font-size: larger;
        
    }
    .session-info {
        margin-top: 0.4rem;
    }
    .flex-container {
        display: flex;
    }
    .flex-child-location {
        flex: 5;
    } 
    .flex-child-details {
        flex: 2;
    }
    .flex-child-details-icon {
        flex: 1
    }
    .flex-child-details-text {
        flex: 5
    }

    .location {
        max-width: 75%;
        vertical-align: top;
    }
    .locationName {
        font-weight: bold;
    }
    .locationAddrIcon {
        float: left;
    }
    .locationAddr {
        
    }
    .details {
        margin-left: 1rem;
    }
    .start {
        font-weight: bolder;
        padding-right: 0.5rem;
    }
    .days {
        padding-right: 0.5rem;
    }
    .numCourts {
        font-style: italic;
    }
}