.session {
    
    padding: 1rem;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 30px grey;
    border-radius: 5px;
    max-width: 500px;
    margin: 1rem;

    .sidebyside {
        display: inline-block;
***REMOVED***
    .icon {
        padding: 4px;
        vertical-align: middle;
        color: coral;
***REMOVED***
    .title {
        font-size: larger;
        
***REMOVED***
    .session-info {
        margin-top: 0.4rem;
***REMOVED***
    .flex-container {
        display: flex;
***REMOVED***
    .flex-child-location {
        flex: 5;
***REMOVED*** 
    .flex-child-details {
        flex: 2;
***REMOVED***
    .flex-child-details-icon {
        flex: 1
***REMOVED***
    .flex-child-details-text {
        flex: 5
***REMOVED***

    .location {
        max-width: 75%;
        vertical-align: top;
***REMOVED***
    .locationName {
        font-weight: bold;
***REMOVED***
    .locationAddrIcon {
        float: left;
***REMOVED***
    .locationAddr {
        
***REMOVED***
    .details {
        margin-left: 1rem;
***REMOVED***
    .start {
        font-weight: bolder;
        padding-right: 0.5rem;
***REMOVED***
    .days {
        padding-right: 0.5rem;
***REMOVED***
    .numCourts {
        font-style: italic;
***REMOVED***
}