apiVersion: apps/v1
kind: Deployment
metadata:
  name: maven-worker
  namespace: slinkylinky
spec:
  replicas: 1
  selector:
    matchLabels:
      app: maven-worker
      version: v1
  template:
    metadata:
      labels:
        app: maven-worker
        version: v1
    spec:
      containers:
        - name: maven-worker
          image: rdomloge/jenkins-worker-maven-jdk21-latest:1.0.0
          imagePullPolicy: Always
          env:
            - name: JENKINS_URL
              value: http://jenkins-service:8099
            - name: JENKINS_SECRET
              value: '[get from Jenkins secret in web UI]'
            - name: JENKINS_AGENT_NAME
              value: maven-worker
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "2000m"
              memory: "2Gi"
          volumeMounts:
            - name: maven-worker-home
              mountPath: /home/jenkins
      volumes:
        - name: maven-worker-home
          emptyDir: {}