@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: rgb(214, 219, 220);
  
}

.colourOfBackground {
  background-color: rgb(214, 219, 220);
}

.timelineDot {
  inset-inline-start: -0.5rem;
}

@layer components {
    .card {
      background-color: theme(colors.white);
      border-radius: theme(borderRadius.lg);
      padding: theme(spacing.6);
      box-shadow: theme(boxShadow.xl);
***REMOVED***
}

.child-card {
  margin: 0.6em;
  display: flex;
}

.pageTitle {
  font-size: 300%;
}

.list-card {
  margin: 1em;
}

.lozenge {
  background: rgb(198, 195, 250);
  width: fit-content;
  border-radius: 15px;
  padding: 0.5em;
  margin: 0.2em;
}