@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
    .card {
      background-color: theme(colors.white);
      border-radius: theme(borderRadius.lg);
      padding: theme(spacing.6);
      box-shadow: theme(boxShadow.xl);
    }
}

.child-card {
  margin: 0.6em;
  display: flex;
}

.pageTitle {
  font-size: 300%;
}

.list-card {
  margin: 1em;
}

.lozenge {
  background: rgb(198, 195, 250);
  width: fit-content;
  border-radius: 15px;
  padding: 0.5em;
  margin: 0.2em;
}