.contact {

    .icon {
        padding: 4px;
        vertical-align: middle;
        color: coral;
***REMOVED***
    .number {
        display: inline-block;
        color: darkgray;
***REMOVED***
}

