{{- range $secret := .Values.secrets }}
// Pull in the tenant value for namespace
{{- if .Values.tenant.useEnvironmentVariable }}
{{- $tenant := (env "TENANT") }}
{{- else }}
{{- $tenant := .Values.tenant.name }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
    name: {{ $secret.name }}
    namespace: {{ $tenant }}
type: {{ $secret.type | default "Opaque" }}
data:
    {{- range $key, $value := $secret.data }}
    {{ $key }}: {{ $value | b64enc | quote }}
    {{- end }}
{{- end }}