{{- range $secret := .Values.secrets }}
---
apiVersion: v1
kind: Secret
metadata:
    name: {{ $secret.name }}
    namespace: {{ include "chart.tenantName" . }}
type: {{ $secret.type | default "Opaque" }}
data:
    {{- range $key, $value := $secret.data }}
    {{ $key }}: {{ $value | b64enc | quote }}
    {{- end }}
{{- end }}