apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: slinkylinky
spec:
  #type: LoadBalancer
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: linkservice-service
  namespace: slinkylinky
spec:
  #type: LoadBalancer
  selector:
    app: linkservice
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP

---